---
name: build-docker

#on: [push, pull_request, workflow_dispatch]
on: 
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          #- fedora:rawhide
          #- fedora:latest
          #- centos:7
          #- centos:8
          #- debian:testing
          - debian:latest
          #- ubuntu:devel
          #- ubuntu:rolling
          #- ubuntu:bionic
          #- ubuntu:focal #20.04 LTS
         
    env:
      DISTRO: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2

      - name: Show OS information
        run: cat /etc/os-release 2>/dev/null || echo /etc/os-release not available

      - name: Build tang
        run: |
          OS=$(echo ${DISTRO}|cut -f 1 -d :)
          echo ${OS}
          docker build -t tang:${OS}-${GITHUB_SHA} -f docker/Dockerfile \
            build-arg DISTRO=${DISTRO}
      - name: Tag and push container to Github registry
        run: |
          echo "Tag and Push...."
           # do nothing else

# vim:set ts=2 sw=2 et:
